.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
   
}
.wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
}
.button{
    width: 240px;
    height: 240px;
}
.hidebutton{
    visibility: hidden;
}